<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>
        Página Inicial
    </h1>
    Esse é o template de um backend em NodeJS utilizando o motor de template EJS para rendenizar o front-end. <br>
    O backend também inclui exemplo de rotas e api rest

    
</div>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/form">Form</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
 </ul>